@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap");

/* -------------------------UNIVERSAL RULES BELOW------------------------------ */
a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

li{
  text-wrap: nowrap;
}

body {
  margin: 0;
}

ul {
margin-left: -40px;
}

.navigation{
  background-color: rgb(0, 0, 0, 0.85);
  background-color: rgb(0, 0, 0);
  
}

.secondary-nav-link.active {
  color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  /* color: black; */
  box-shadow: 60px -16px rgb(0, 0, 0);
  box-shadow: 10px 5px 5px rgb(75, 75, 75);
  padding: 15px;
  transition: 800ms box-shadow;
  /* box-shadow: inset 5em 1em rgb(71, 71, 71); */
 
}

.secondary-nav-link .active {
  /* background-color: white; */
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}

.secondary-nav-link:hover {
  /* color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  box-shadow: 60px -16px rgb(0, 0, 0);
  box-shadow: 10px 5px 5px rgb(75, 75, 75);
  padding-right: 15px;
  transition: 800ms box-shadow; */

}

/* .portfolio-container-component{
  height: 100vh;
} */



.contact-left-section-one{
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  font-family: 'Bebas Neue';
  
  
  /* background-size: 210px; */
  background-size: 204px;
  background-repeat: no-repeat;
  background-position: left;

  /* background-position: right; */
  
  /* background-position: left;
  transform: scaleX(-1); */
}




.left-section-one{
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  font-family: 'Bebas Neue';
  
  /* background-image: url('./images/image7.png'); */
  /* background-image: url('./images/head-shot.png'); */
  background-image: url('./images/aipic.png');
  /* background-size: 210px; */
  background-size: 204px;
  background-size: 204px;
  background-repeat: no-repeat;
  background-position: left;

  /* background-position: right; */
  
  /* background-position: left;
  transform: scaleX(-1); */
}


/* Need column for contact page left side  */
.left-section-one{
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Bebas Neue';
  /* background-image: url('./images/image7.png'); */
  background-size: 204px;
  background-repeat: no-repeat;
  background-position: left;
}




.left-section-one{
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Bebas Neue';
  /* background-image: url('./images/image7.png'); */
  /* background-size: 277px; */
  background-size: 18em;
  background-repeat: no-repeat;
  background-position: left;
}

.contact-left-section-one{
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Bebas Neue';
  /* background-image: url('./images/image7.png'); */
  background-size: 204px;
  background-repeat: no-repeat;
  background-position: left;
}

.right-section-one{
  width: 50%;
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.contact-right-section-one{
  width: 50%;
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.left-inside-section-one{
  display: flex;
  width: 50%;
  justify-self: flex-end;
}

Footer {
  margin-top: auto;
}









::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background-color: rgb(245, 245, 245);
}


::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 

}


::-webkit-scrollbar-thumb{
  transition: 200ms color;
}


::-webkit-scrollbar-thumb:hover {
  /* background: #aaaaaa;  */
}









/* -------------------------UNIVERSAL RULES ABOVE------------------------------ */





.sticky-nav{
  position: sticky;
      top: 0;
      z-index: 2;

}


.sticky-foot{
  position: sticky;
      bottom: 0;
      z-index: 2;
}






/*------------------------------ NavTabs Component BELOW---------------------------- */

/*------------------------------ NavTabs Component ABOVE---------------------------- */

.school-logos {
  width: 50%;
  height: 50%;
  width: 400px;
  height: 400px;
}

.navigation-tabs {
  display: flex;
  margin: 0;
}

.navigation-item {
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
}

.nav-link {
  margin: 0;
  width: 25%;
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  text-decoration: none;
  margin: 40px;
  margin-left: -160px;
  list-style: none;
  background-color: none;
  color: black;
  list-style: none;
}

.secondary-nav-component ul {
  background-color: transparent;
  text-wrap: nowrap;
}

.secondary-nav-component {
  margin: 0;
  width: 30%;
  background-color: rgb(255, 255, 255);
  border-right: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

a.secondary-nav-link {
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  color: #000; /* Text color */
  /* -webkit-text-stroke: 0.01px #000000; 
  /* text-stroke: 2px #fff;  */
  transition: 200ms color ease;
  text-wrap: nowrap;
}

a.secondary-nav-link:hover {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  color: gray;
  color: rgb(24, 24, 24);
}

svg {
  padding: 5px;
  transform: rotateX(0.1turn);
  margin: 10px;
  cursor: pointer;
  background-color: white;
  /* border-radius: 50%; */
}

svg:hover {
  transition: 1s;
  transform: rotateX(0);
}

svg:active {
  transition: 0.1s;
  transition: ease-in-out;
  transform: rotateX(0.5);
}

path {
  color: black;
}

/* --------------------HERO COMPONENT BELOW--------------- */

.hero-component {
  position: relative;
  background-color: rgb(5, 5, 5);
  width: 100%;
  z-index: 0; /* Increase the z-index value to bring it in front of hero-image-two */
  /* background-image: url("./images/image7.png");
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat; */
  /* background-image: url("https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhcnN8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60"); */
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image {
  /* width: 200px; */
  /* height: 100%; */
}

.secondary-nav-and-hero {
  display: flex;
  justify-content: flex-end;
}


.hero-portfolio{
  background-color: rgb(129, 0, 0);
  /* height: 100%; */
  width: 100%;
  z-index: 1;
}









/* Define different hero image classes */
.hero-portfolio {
  background-image: url("https://images.unsplash.com/photo-1558730234-d8b2281b0d00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHBvcnRyYWl0fGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.hero-education {
  background-image: url("https://plus.unsplash.com/premium_photo-1682125740214-fcddeef28561?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

/* --------------------HERO COMPONENT ABOVE--------------- */






/* -------------------------- Portfolio Below------------------------- */


.portfolio-nav-active{
  /* background-color: rgb(255, 0, 0); */
  background-color: rgb(255, 255, 255);
  color:black;
}

/* .portfolio-nav li{
  color: pink;
  color: white;
} */

/* -------------------------- Portfolio Above------------------------- */







/*--------------------------- CODING COMPONENT BELOW-------------------- */





.coding-ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: #000000 solid 15px;
}

.coding-ul li{
  cursor: pointer;
  font-size: 20px;
  text-shadow: #000;
  transition: 200ms text-shadow ease;
  /* background-color: black; */
  /* color: white; */
  /* padding: 10px; */
}

.coding-ul li:hover{
  text-shadow: rgb(117, 117, 117) 1px 0 13px;
  /* text-decoration: underline; */
  /* text-shadow: none; */
}




/*--------------------------- CODING COMPONENT ABOVE-------------------- */










/*--------------------------- Portfolio Page--------------------------------- */


/* .portfolio-container{
  display: flex;

} */


.portfolio-nav{
  /* margin-top: 1px; */
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  font-size: 1.2rem;
 background-color: black;
}

.portfolio-nav li {
  border: solid rgb(255, 255, 255);
  /* border: solid rgb(199, 0, 0); */
  border-top: none;
  border-bottom: none;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  /* color: rgb(255, 172, 172); */
  color: white;
  
  transition: 200ms background-color ease-in;
}

.portfolio-nav li:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.portfolio-nav li:active {
  background-color: rgb(255, 255, 255);
  color: black;
}

li.portfolio-nav-active{
  color: black;
}

.portfolio-left-section-one{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.portfolio-right-section-one{
  display: flex;
  width: 50%;
  background-color: #000000;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.project-container {
  border: solid rgb(0, 0, 0);
  margin: 10px;
  opacity: 0.9;
  transition: opacity 500ms, border 500ms, box-shadow 500ms;
  background-color: black;
}

.project-container:hover {
  opacity: 1;
  border: solid white;
  filter: brightness(1.2);
  filter: grayscale(0.1);
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.project-image {
  width: 266.5px;
  height: 395px;
  cursor: pointer;
  box-shadow: 5px 6px 6px rgb(0, 0, 0);
}

.project-name-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  width: 266.5px;
  font-family: "Oswald", sans-serif;
}

.project-github-overlay {
  position: absolute;
  z-index: 2;
  margin-left: 0px;
  margin-top: 40px;
  border-radius: 0px;
  border: solid black;
  border-left: none;
  height: 35px;
  width: 35px;
}

.project-github-overlay:hover {
  /* opacity: 1; */
  /* border: solid white; */
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.project-information-overlay {
  position: absolute;
  z-index: 2;
  margin-top: 85px;
  margin-left: 0px;
  height: 35px;
  width: 35px;

  user-select: none;
  border: solid black;
  border-left: none;
  border-radius: 0px;
}

.project-information-overlay:hover {
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.project-summary-overlay {
  position: absolute;
  z-index: 2;
  color: rgba(0, 0, 0, 0.9);
  /* margin-top: -270px; */
  margin-top: -260px;
  padding: 10px;
  background-color: white;
  width: 246px;
  border-bottom: solid black;
  border-top: solid black;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  font-family: serif;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.project-tech-overlay {
  position: absolute;
  width: 266.5px;

  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  margin-top: -50px;
  height: 50px;
  text-align: center;
  font-family: serif;
  opacity: 0.95;
  background-color: black;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 0;
  }
}








/* ------------------------------FIRST NAV BELOW----------------------------------------------- */

.first-name {
  padding: 10px;
  color: white;
  letter-spacing: 5px;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
}

a.navigation-link {
  color: white;
  text-decoration: none;
}

a.navigation-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navigation-resume a.navigation-link {
  transition: 250ms background-color ease-in;
}

.navigation-resume a.navigation-link:hover {
  color: rgb(161, 0, 0);
  /* border: solid white 0.5px; */
  background-color: white;
  color: black;
}

.navigation-contact {
  border: solid white 1px;
  transition: 200ms background-color;
  color: black;
  cursor: pointer;
}

.navigation-contact:hover {
  background-color: white;
  color: black;
}

a.navigation-contact-active{
  background-color: white;
  color: black;
  padding: 0px 10px;
}

/* a.active neevds to be worked on */

a.active {
  background-color: white;
  color: black;
}

a.navigation-contact-item-active{
border:black;
background-color: white;
}

.navigation-resume {
  color: white;
}

.navigation-tabs {
}

.resume-contact {
  display: flex;
  margin-right: 40px;
  margin-bottom: 25px;
  font-family: "Oswald", "Courier New", Courier, monospace;
/* gap: 10px; */

}

.navigation-link {
  transition: 200ms color;
  padding: 5px 10px;
}

a.navigation-link:hover {
  color: black;
}

/* a.navigation-link .navigation-resume:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
} */

.navigation-item {
  height: min-content;
  font-family: "Oswald", "Courier New", Courier, monospace;
  font-size: 22px;
  letter-spacing: 2px;
}

/* ------------------------------FIRST NAV ABOVE----------------------------------------------- */


/* -----------------------------SECONDARY NAV START --------------------------------------*/
.secondary-nav-component {
}
/* ------------------------------SECONDARY NAV END--------------------------------- */








/* --------------------------------ABOUT COMPONENT BELOW----------------------------- */

.about-component {
  display: flex;
  padding: 0px;
  height: 100%;
  /* height: 50vh; */

}

.about-h2{
  background-color: rgb(0, 0, 0);
  width: 100%;
  color: white;
  margin: 0;
}


/* ------------------------------ABOUT COMPONENT ABOVE */












/* -------------------------CONTACT COMPONENT BELOW--------------------------- */


.contact-left-section-one{
  display: block;
  /* padding: 20px; */
}


.contact-left-section-one-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}










/* -------------------------CONTACT COMPONENT ABOVE--------------------------- */















/* ------------------------------FORM BELOW--------------------------- */
















.contact-component{
  display: flex;
  justify-content: center;
  /* height: 50vh; */
}

.contact-h1{
  font-size: 40px;
}

.contact-form{
  /* width: 506px; */
  /* padding: 20px; */
  margin: 50px;
}


.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

input{
  width: 500px;
  width: 100%;
  height: 30px;
}

textarea{
  width: 100%;
  height: 200px;
}




.submit-btn {
  background-color: #007bff;
  /* background-color: #7bcaff; */
  width: 101%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.submit-btn:hover {
  background-color: #0056b3;
  /* background-color: #741616; */
}



/* -------------------------------FORM ABOVE----------------------------- */





/* ------------------------------RESEARCH BELOW ------------------------------ */






.research-h1{
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: solid 15px;
}



.research-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.research-container {
  border: solid rgb(255, 255, 255);
  margin: 10px;
  opacity: 0.9;
  transition: opacity 500ms, border 500ms, box-shadow 500ms;
}

.research-container:hover {
  opacity: 1;
  border: solid white;
  filter: brightness(1.2);
  filter: grayscale(0.1);
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.research-image {
  width: 266.5px;
  height: 395px;
  cursor: pointer;
  box-shadow: 5px 6px 6px rgb(0, 0, 0);
}

.research-name-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  width: 266.5px;
  font-family: "Oswald", sans-serif;
  text-wrap: nowrap;
  overflow-x: scroll;
  height: 40px;
}

.research-github-overlay {
  position: absolute;
  z-index: 2;
  margin-left: 0px;
  margin-top: 40px;
  border-radius: 0px;
  border: solid black;
  border-left: none;
  height: 35px;
  width: 35px;
}

.research-github-overlay:hover {
  /* opacity: 1; */
  /* border: solid white; */
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.research-information-overlay {
  position: absolute;
  z-index: 2;
  margin-top: 85px;
  margin-left: -209px;
  height: 35px;
  width: 35px;
  -webkit-user-select: none;
  user-select: none;
  border: solid black;
  border-left: none;
  border-radius: 0px;
}

.research-information-overlay:hover {
  box-shadow: 5px 6px 6px rgb(20, 20, 20);
}

.research-summary-overlay {
  position: absolute;
  z-index: 2;
  color: rgba(0, 0, 0, 0.9);
  /* margin-top: -270px; */
  margin-top: 135px;
  padding: 10px;
  background-color: white;
  width: 246px;
  border-bottom: solid black;
  border-top: solid black;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  font-family: serif;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.research-tech-overlay {
  position: absolute;
  width: 266.5px;

  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  margin-top: 345px;
  /* margin-top: -62px; */
  height: 50px;
  text-align: center;
  font-family: serif;
  opacity: 0.95;
  background-color: black;
}

/* --------------------------------RESEARCH ABOVE------------------------------- */






/* -------------------Footer Component BELOW----------------- */

footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.755);
  background-color: rgb(0, 0, 0);
  top: 0;
  position: sticky;
}

/* -------------------Footer Component ABOVE----------------- */



/* -------------------------------EDUCATION COMPONENT BELOW----------------------- */



.hide{
  display: none;
}


.container-right-left{
  display: flex;
}

.csun-image{
  background-image: url('https://i0.wp.com/nenc-la.org/wp-content/uploads/2021/05/CSUN.jpg?fit=1024%2C512&ssl=1');
  justify-content: center;
  background-size: cover;
}

  .education-left-section-one{
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
    
  }
  
  .education-right-section-one{
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border: solid;
  
  }



.csun-h1{
  text-align: center;
  font-family: 'Bebas Neue';
  background-color: rgb(209, 5, 41);
  color: rgb(0, 0, 0);
  /* color: black; */
  border: solid black 2px;

}

.left-container-one{
  background-color: rgba(255, 255, 255, 0.856);
  width: 60%;
  height: 60%;
  color: black;
  text-align: center;
  font-family: 'Bebas Neue';


}













/* -----------------ljmu below--------------- */


.container-right-left{
  display: flex;
}

.ljmu-image{
  background-image: url('https://iceduindo.com/wp-content/uploads/2019/07/liverpool-john-moores-university-2.png');
  justify-content: center;
  background-size: cover;
}

  .education-left-section-one{
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .education-right-section-one{
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
  
  }



.ljmu-h1{
  text-align: center;
  font-family: 'Bebas Neue';
  background-color: rgb(0, 77, 157);
  color: white;
  border: solid black 2px;
}

.left-container-one{
  background-color: rgba(255, 255, 255, 0.856);
  width: 60%;
  height: 60%;
  color: black;
  text-align: center;
  font-family: 'Bebas Neue';
}

/* -----------------ljmu above--------------- */

/* -----------------ucsd below--------------- */



.container-right-left{
  display: flex;
}

.ucsd-image{
  background-image: url('https://extendedstudies.ucsd.edu/UCSDExtension/media/UCSDExtensionsMedia/about-division-of-extended-studies/locations-maps-and-transportation/hero-locations-maps-and-transportation-1.jpg');
  justify-content: center;
  background-size: cover;
}

  .education-left-section-one{
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .education-right-section-one{
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
  
  }



.ucsd-h1{
  text-align: center;
  font-family: 'Bebas Neue';
  background-color: rgb(17, 39, 71);
  color: white;
  border: solid black 2px;
  color: rgb(199, 147, 12);;

}

.left-container-one{
  background-color: rgba(255, 255, 255, 0.856);
  width: 60%;
  height: 60%;
  color: black;
  text-align: center;
  font-family: 'Bebas Neue';
  border: solid black 1px;
}








/* -----------------ucsd above--------------- */







/* -------------------------------EDUCATION COMPONENT ABOVE----------------------- */









/* ------------------------------RESUME PAGE BELOW--------------------------------- */



.resume-page-component{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
















/* ------------------------------RESUME PAGE ABOVE--------------------------------- */


























/* Add this to your CSS */
.scroll-to-top-button {
  display: none; /* Initially hidden */
  position: fixed;
  top: 40px;
  right: 20px;
  /* background-color: #ffffff; */
  /* color: #fff; */
  cursor: pointer;
  text-align: center;
  font-weight: 900;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out; /* Use ease-in-out for smoother transitions */
  color: black;
  fill: black;
  z-index: 4;
}

.scroll-to-top-button.visible {
  display: block; /* Visible when scrolled past a certain point */
  opacity: 1; /* Ensure full opacity when visible */
  transform: scale(1); /* Ensure full size when visible */
}

.scroll-to-top-button:hover {
  /* background-color: #c2c2c2; */
}
















/* ----------------------------------------------MEDIA-QUERIES BELOW---------------------------------------------------------------- */






.secondary-nav-and-hero {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 1200px) {
  .secondary-nav-and-hero {
    /* flex-wrap: wrap; */
  }

  .secondary-nav-component {
    margin: 0;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-right: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hero-component {
  position: relative;
  background-color: rgb(5, 5, 5);
  width: 100%;
  z-index: 0;
  /* background-image: url(https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhcnN8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60); */
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

background-color: black;
}

.contact-component{
  flex-direction: column;
}

.left-section-one {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue'; */
}

.contact-left-section-one {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  text-align: center;
}

.right-section-one {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-right-section-one {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 500px;
}
 }



 @media (max-width: 768px){

  body{
    overflow-x: hidden;
  }
  .secondary-nav-and-hero {
    flex-wrap: wrap;

  }

  .secondary-nav-component ul {
    background-color: transparent;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 20px;
    margin-left: 25px;
}

.secondary-nav-link{
  font-size: 44px;
  padding-right: 15px ;
}

.secondary-nav-link.active {
  box-shadow: 60px -16px #000;
  box-shadow: 10px 5px 5px #4b4b4b;
  color: #f5f5f5;
  color: #000;
  padding-left: 0px;
  transition: box-shadow .8s;
}

/* .secondary-nav-link:hover {
  color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  color: black;
  box-shadow: none;
} */


  .secondary-nav-component {
    margin: 0;
    width: 100%;
    /* width: auto; */
    background-color: rgb(255, 255, 255);
    border-right: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hero-component{
  height: 300px;
}

/* ----------about -------------*/

.about-component{
  flex-wrap: wrap;
  flex-direction: column;  
}




/*------------ education----------- */


.container-right-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.education-left-section-one {
  /* width: 98.8%; */
  /* width: 100%; */
  width: auto;
  background-color: rgb(255, 255, 255);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-right-section-one {
  /* width: 98.8%; */
  /* width: 100%; */
  width: auto;

  background-color: rgb(0, 0, 0);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}


.school-logos {
  width: 50%;
  height: 50%;
  width: 300px;
  height: 300px;
}
 }



/* DOESNT WORK */
/* 
 @media (min-width: 576px){


.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out; 
  color: black;
  fill: black;
  z-index: 4;
}

.scroll-to-top-button.visible {
  display: block; 
  opacity: 1; 
  transform: scale(1); 
}

.scroll-to-top-button:hover {
}


 } */















 @media (max-width: 576px){


.first-name{
  margin-left: -30px;
}

  .secondary-nav-link{
    font-size: 34px;
    padding-right: 20px;
  }

  .secondary-nav-link{
    /* display: none; */
  }

  .resume-contact{
    display: none;
  }

  .show-on-mobile {
    display: block; /* Show the elements on larger screens */
  }

  .secondary-nav-component {
    overflow-x: scroll;
    justify-content: flex-end;
    /* height: 170px; */
    padding-right: 10px;
 }

 /* .secondary-nav-component ul {
  background-color: transparent;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 0px;
} */

/* -------education--------- */

.left-container-one {
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
  height: 80%;
  color: black;
  text-align: center;
  font-family: 'Bebas Neue';
  border: solid black 1px;
 
}











}





@media (max-width: 530px){

  .secondary-nav-component ul {
    /* margin-right: 68px; */
  }

  .secondary-nav-component {
    /* padding-left: 100px; */
    /* padding-right: 100px; */
 }

 .secondary-nav-link{
  font-size: 27px;
 }
}

/* @media (max-width: 470px){
  .secondary-nav-component {
    padding-left: 160px;
    padding-right: 30px;
 }
} */



@media (max-width: 390px){
  .secondary-nav-component {
    padding-left: 300px;
    /* padding-left: 230px; */
    /* padding-left: 10704px; */
 }

 
}






 /* @media (max-width: 992px) { 
  
  .contact-component {
    
    flex-wrap: wrap;
}
  } */





/* Extra Small (XS) Screens:
Typically, smartphones in portrait orientation fall into this category.
Suggested breakpoint:  */
@media (max-width: 576px) { /* Your CSS here */ }

/* Small Screens (SM):
Larger smartphones in landscape orientation, small tablets.
Suggested breakpoint:  */
@media (min-width: 576px) and (max-width: 768px) { /* Your CSS here */ }

/* Medium Screens (MD):
Most tablets and smaller desktop screens.
Suggested breakpoint:  */
@media (min-width: 768px) and (max-width: 992px) { /* Your CSS here */ }

/* Large Screens (LG):
Larger desktop monitors and laptops.
Suggested breakpoint:  */
@media (min-width: 992px) and (max-width: 1200px) { /* Your CSS here */ }

/* Extra Large Screens (XL):
Extra-large desktop monitors and high-resolution displays.
Suggested breakpoint: */
 @media (min-width: 1200px) { /* Your CSS here */ }











/* ----------------------------------------------MEDIA-QUERIES ABOVE---------------------------------------------------------------- */











/* .nav-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}



.nav-item {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s; 
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */



